/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================ 
Base styles
*/
body {
	font: 18px 'Yanone Kaffeesatz', sans-serif;
	color: #02273D;
	background: #018AB8 url("twitter.jpg") no-repeat top center fixed;
	text-align: center;
}

.container {
	min-width: 400px;
	max-width: 620px;
	margin: 0 auto;
	background: #FDFFFE;
	border-radius: 10px;
}

/* ============================ 
Header
*/

header {
	height: 80px;
	color: #FAFBF2;
	font-size: 50px;
	font-weight: bold;
}

/* ============================
Author Tweets
*/

.create-tweet {
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: rgba(250, 251, 242, 0.8);
}

.create-tweet textarea {
	margin-top: 6px;
	height: 70px;
	width: 350px;
	margin-right: 40px;
	opacity: 1;
}

.create-tweet button {
	font: 18px 'Yanone Kaffeesatz', sans-serif;
	color: #02273D;
	height: 45px;
	width: 100px;
	vertical-align: 1.8em;
	text-align: right;
	background: #FDFFFE url("quill.png") no-repeat;
	padding-right: 12px;
}

/* ============================
Section - Tweets and AddTweets
*/

section {
	position: relative;
}

.view-more-tweets {
	background: #FDFFFE;
	display: inline-block;
}

.tweet {
	padding: 12px;
	border-bottom: 1px solid #898989;
}

.tweet-container {
	margin: 0 auto;
	width: 430px;
	text-align: left;
}

.tweet-user {
	font-weight: bold;
	font-size: 18px;
	margin-right: 7px;
}

.tweet-time {
	font-size: 13px;
}

/* ============================ 
Tweet Images
*/

.img-container {
	background-image: url("user_images.png");
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 12px;
}

.douglascalhoun {
	background-position: 0 0;
} 

.sharksforcheap {
	background-position: 0 -60px;
}

.shawndrost {
	background-position: 0 -120px;
}

.mracus {
	background-position: 0 -180px;
}